@import '@/assets/styles/_mixins';
@import '@/assets/styles/_variables';

.root {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  // todo! replace this
  width: rem(130);
}

.menuLink {
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: rem(25);
  line-height: rem(29);
  color: $dark;
  &.activeLink {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
  &:after {
    content: '';
    position: absolute;
    bottom: rem(-8);
    height: rem(2);
    width: 0%;
    border-radius: rem(6);
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity, width ease-in-out 0.25s;
    background: $dark;
  }
  &:hover {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
.menuWrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  // todo! replace this
  width: rem(130);
}

.menuLink {
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: rem(25);
  line-height: rem(29);
  color: $dark;
  &.activeLink {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
  &:after {
    content: '';
    position: absolute;
    bottom: rem(-8);
    height: rem(2);
    width: 0%;
    border-radius: rem(6);
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity, width ease-in-out 0.25s;
    background: $dark;
  }
  &:hover {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
