@import url('normalize.css');
@import './src/assets/styles/_mixins';
@import './src/assets/styles/_variables';
@import './src/assets/styles/_fonts';

#root {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.development-mode {
  * {
    background-color: rgba($danger, 0.03);
  }
}

div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

canvas {
  width: 100%;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-karla;
}
